@define-color fg rgba(240, 240, 245, 0.95);
@define-color bg rgba(25, 25, 35, 0.8);
@define-color accent rgba(155, 100, 255, 0.3);

#window { color: @fg; }

#box {
  border-radius: 16px;
  background: @bg;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.5);
}
